{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La Boutique Française{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>

    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>La Boutique Française</strong>
            <hr>
            06 20 30 40 50<br/>
            18 rue de Paris, 75000 Paris.<br/>
            contact@laboutiquefrancaise.fr<br/>
        </div>
    </div>


{% endblock %}
